wsdl/SSNWSService_schema1.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ws.ssn/" elementFormDefault="unqualified" targetNamespace="http://ws.ssn/" version="1.0">
<xs:element name="addField" type="tns:addField"/>
<xs:element name="addFieldResponse" type="tns:addFieldResponse"/>
<xs:element name="addFieldSport" type="tns:addFieldSport"/>
<xs:element name="addFieldSportResponse" type="tns:addFieldSportResponse"/>
<xs:element name="addReservation" type="tns:addReservation"/>
<xs:element name="addReservationResponse" type="tns:addReservationResponse"/>
<xs:element name="createEvent" type="tns:createEvent"/>
<xs:element name="createEventResponse" type="tns:createEventResponse"/>
<xs:element name="createManagerEntity" type="tns:createManagerEntity"/>
<xs:element name="createManagerEntityResponse" type="tns:createManagerEntityResponse"/>
<xs:element name="createReportType" type="tns:createReportType"/>
<xs:element name="createReportTypeResponse" type="tns:createReportTypeResponse"/>
<xs:element name="createSport" type="tns:createSport"/>
<xs:element name="createSportResponse" type="tns:createSportResponse"/>
<xs:element name="getFieldsByManagerEntity" type="tns:getFieldsByManagerEntity"/>
<xs:element name="getFieldsByManagerEntityResponse" type="tns:getFieldsByManagerEntityResponse"/>
<xs:element name="getManagerEntities" type="tns:getManagerEntities"/>
<xs:element name="getManagerEntitiesBySport" type="tns:getManagerEntitiesBySport"/>
<xs:element name="getManagerEntitiesBySportResponse" type="tns:getManagerEntitiesBySportResponse"/>
<xs:element name="getManagerEntitiesResponse" type="tns:getManagerEntitiesResponse"/>
<xs:element name="getReservationsByField" type="tns:getReservationsByField"/>
<xs:element name="getReservationsByFieldResponse" type="tns:getReservationsByFieldResponse"/>
<xs:element name="getSports" type="tns:getSports"/>
<xs:element name="getSportsResponse" type="tns:getSportsResponse"/>
<xs:element name="getUserDetails" type="tns:getUserDetails"/>
<xs:element name="getUserDetailsResponse" type="tns:getUserDetailsResponse"/>
<xs:element name="registerUser" type="tns:registerUser"/>
<xs:element name="registerUserResponse" type="tns:registerUserResponse"/>
<xs:element name="updateUser" type="tns:updateUser"/>
<xs:element name="updateUserResponse" type="tns:updateUserResponse"/>
<xs:complexType name="registerUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:user"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="user">
    <xs:sequence>
      <xs:element name="currentAccount" type="xs:int"/>
      <xs:element minOccurs="0" name="email" type="xs:string"/>
      <xs:element name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="surname1" type="xs:string"/>
      <xs:element minOccurs="0" name="surname2" type="xs:string"/>
      <xs:element name="telephone" type="xs:int"/>
      <xs:element name="type" type="xs:int"/>
      <xs:element minOccurs="0" name="username" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="registerUserResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:result"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="result">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="data" nillable="true" type="xs:anyType"/>
      <xs:element minOccurs="0" name="error" type="xs:string"/>
      <xs:element name="valid" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getManagerEntities">
    <xs:sequence/>
  </xs:complexType>
<xs:complexType name="getManagerEntitiesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:result"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="managerEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="address" type="xs:string"/>
      <xs:element minOccurs="0" name="city" type="xs:string"/>
      <xs:element minOccurs="0" name="email" type="xs:string"/>
      <xs:element minOccurs="0" name="entityManager" type="tns:user"/>
      <xs:element name="idManagerEntity" type="xs:int"/>
      <xs:element name="latitude" type="xs:double"/>
      <xs:element name="longitude" type="xs:double"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element name="telephone" type="xs:int"/>
      <xs:element name="type" type="xs:int"/>
      <xs:element minOccurs="0" name="web" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="addField">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:field"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="field">
    <xs:sequence>
      <xs:element name="idField" type="xs:int"/>
      <xs:element minOccurs="0" name="managerEntity" type="tns:managerEntity"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="sports" nillable="true" type="tns:fieldSports"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="fieldSports">
    <xs:sequence>
      <xs:element name="hourPrice" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="addFieldResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:result"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="createSport">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:sport"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="sport">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="fields" nillable="true" type="tns:field"/>
      <xs:element name="idSport" type="xs:int"/>
      <xs:element name="maxPlayers" type="xs:int"/>
      <xs:element name="minPlayers" type="xs:int"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="createSportResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:result"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="createManagerEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:managerEntity"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="createManagerEntityResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:result"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getManagerEntitiesBySport">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getManagerEntitiesBySportResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:result"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getSports">
    <xs:sequence/>
  </xs:complexType>
<xs:complexType name="getSportsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:result"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="createReportType">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:reportType"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="reportType">
    <xs:sequence>
      <xs:element name="idReportType" type="xs:int"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element name="severity" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="createReportTypeResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:result"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="createEvent">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
      <xs:element name="arg1" type="xs:int"/>
      <xs:element name="arg2" type="xs:int"/>
      <xs:element name="arg3" type="xs:int"/>
      <xs:element minOccurs="0" name="arg4" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="arg5" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="arg6" type="xs:string"/>
      <xs:element name="arg7" type="xs:float"/>
      <xs:element name="arg8" type="xs:float"/>
      <xs:element name="arg9" type="xs:int"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="arg10" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="createEventResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:result"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="addReservation">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:reservation"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="reservation">
    <xs:sequence>
      <xs:element name="confirmed" type="xs:boolean"/>
      <xs:element minOccurs="0" name="endDate" type="tns:date"/>
      <xs:element name="idEvent" type="xs:int"/>
      <xs:element name="idField" type="xs:int"/>
      <xs:element name="idReservation" type="xs:int"/>
      <xs:element minOccurs="0" name="startDate" type="tns:date"/>
      <xs:element name="type" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="date">
    <xs:sequence/>
  </xs:complexType>
<xs:complexType name="addReservationResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:result"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getReservationsByField">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getReservationsByFieldResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:result"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getFieldsByManagerEntity">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getFieldsByManagerEntityResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:result"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="addFieldSport">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
      <xs:element name="arg1" type="xs:int"/>
      <xs:element name="arg2" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="addFieldSportResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:result"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getUserDetails">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getUserDetailsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:result"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="updateUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:user"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="updateUserResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:result"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
